button {
  cursor: pointer;
  border-color: transparent;
}

.quiz-container {
  width: 40%;
  min-height: 480px;
  margin: auto;
  background: #ffffff;
  border-radius: 24px;
  font-family: Poppins;
  font-style: normal;
  margin-bottom: 5%;
}

.quiz-question-container {
  padding: 5%;
}

.quiz-heading {
  margin: 1.5% auto 0;
  width: 40%;
  font-weight: bold;
  font-size: 36px;
  text-transform: uppercase;
  color: #f2f2f2;
}

.quiz-question {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: #1d355d;
}

.quiz-options {
  margin: 4% 0;
}

.quiz-option-button {
  width: 100%;
  padding: 3%;
  margin: 4% 0;
  background: #ffffff;
  border: 2px solid rgba(96, 102, 208, 0.7);
  box-sizing: border-box;
  border-radius: 12px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: rgba(96, 102, 208, 0.8);
  display: flex;
  justify-content: space-between;
}

.quiz-option-button:hover {
  border-color: transparent;
  background: #f9a826;
  color: #ffffff;
}

.quiz-option-button.wrong-answer.selected {
  border-color: transparent;
  background: #ea8282;
  color: #ffffff;
}

.quiz-option-button.right-answer.selected {
  border: none;
  color: #ffffff;
  background: #60bf88;
}

.next-results-button-container {
  display: flex;
  justify-content: flex-end;
}

.next-button {
  background: #f9a826;
  box-shadow: 0px 2px 4px rgba(252, 168, 47, 0.4);
  border-radius: 12px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #ffffff;
  width: 45%;
  padding: 2%;
}

.start-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: inherit;
}

.start-button,
.try-again-button {
  width: 45%;
  padding: 2%;
  border: 2px solid #1d355d;
  box-sizing: border-box;
  border-radius: 12px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #1d355d;
  text-align: center;
  background: #ffffff;
}

.start-button:hover,
.try-again-button:hover {
  border: none;
  background: #f9a826;
  color: #ffffff;
}

.quiz-image {
  object-fit: contain;
  height: 100px;
  padding: 5% 0;
  filter: drop-shadow(0px 4px 24px rgba(0, 0, 0, 0.1));
  border-radius: 4px;
}
img {
  height: 100%;
}
.start-image,
.result-image {
  display: flex;
  justify-content: center;
  padding: 5% 0 0;
}

.start-image {
  padding-top: 20%;
}

.result-heading {
  text-align: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  /* padding: 2.5% 5%; */
  color: #1d355d;
}

.result-count {
  padding: 0 0 5%;
  text-align: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #1d355d;
}

.right-answer-count {
  font-weight: bold;
  font-size: 38px;
  color: #60bf88;
}

.material-icons {
  align-self: center;
}

.loader {
  position: absolute;
  left: 50%;
  top: 46%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #1d355d;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1200px) {
  .quiz-container,
  .quiz-heading {
    width: 50%;
  }
}

@media screen and (max-width: 1024px) {
  .quiz-container,
  .quiz-heading {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  .quiz-container,
  .quiz-heading {
    width: 90%;
  }
}
